entrypoint = "main.py"

run = "streamlit run main.py --server.port=3000 --server.address=0.0.0.0 --server.headless true --server.enableCORS=false"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["bash", "cargo", "glibcLocales", "libiconv", "rustc"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "streamlit run main.py --server.headless true --server.address=0.0.0.0 --server.enableCORS=false --server.port=3000"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "pip install -r requirements.txt"]

[[ports]]
localPort = 3000
externalPort = 80

